/* Parent Container */
.information-content {
    display: flex;
    flex-direction: column;
    background-color: #CCCCCC;
    height: 7.5em;
}

/* Child Container */
.top-text {
    display: flex;
    justify-content: space-evenly;
}

/* Child Elements */
.top-text-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #737373
}

.bottom-text-elements {
    display: flex;
    align-items: center;
    color: black;
}

/* Styling */
#co-opportunities {
    padding-top: 0;
    display: flex;
    gap: 2em;
    color: black;
}