/* Parent container */
.header {
    background-color: #f0EFF3;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* border: solid; */
}

/* Child Containers */
#image-logo {
    display: flex;
    max-height: 1.3em;
    padding-left: 1em;

    /* border: solid; */
}

.middle-content {
    display: flex;
    align-items: center;
    gap: 2em;
    padding-right: 5em;

    /* border: solid; */
}

.right-nav {
    display: flex;
    align-items: center;
    gap: 2em;
    padding-right: 1em;

    /* border: solid; */
}

/* Child Elements */

.right-nav-element {
    align-items: center;
    max-height: 2em;

    /* border: solid; */
}

/* Stying Elements */

.start-investing {
    background: linear-gradient(to right, #FF6F4F, #E0FF4F);
    padding: .3em .5em;
    font-size: .9rem;
    font-weight: bold;
}

.search-bar {
    max-width: 10em;
}

.raise-capital {
    border: solid;
    border-width: .15em;
    border-color: #E0FF4F;
    padding: .2em .5em;
    text-decoration: none;
    color: #0E1C28;
}

.login {
    background: transparent;
    border: solid;
    border-color: #f0EFF3;
    font-size: 1rem;
}

.sign-up {
    background: #E0FF4F;
    padding: .2em 1em;
    font-size: .9rem;
    border: solid;
    border-color: #f0EFF3;
}