.current-offerings-content h3 {
    padding-left: 1em;
    color: #737373;
}

.current-offerings-hr {
    margin-top: -.7em;
    margin-left: 1em;
    margin-right: 1em;
    color: #FF6F4F;
}

.drop-down-selections {
    display: flex;
    justify-content: right;
    padding-right: 1em;
    padding-top: .2em;
    padding-bottom: 1em;
    gap: .2em;
}

.drop-down-tags {
    display: flex;
    justify-content: right;
}

.drop-down-tags button {
    margin-right: 1em;
    background: transparent;
    border: solid;
    border-color: #F0EFF3;
}

.drop-down-element {
    background: transparent;
    border: solid;
    border-color: #F0EFF3;
    outline: solid;
    outline-width: .1em;
}