.card-content {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 31%;
    border: solid;
    border-width: .1em;
}

.top-card {
    display: flex;
    padding-bottom: 10em;
    background-position: center;
    background-size: cover;
    margin: .2em;
    justify-content: space-between;
}

.card-top-button {
    width: 12%;
    padding-right: 1em;
}


.middle-card {
    display: flex;
    justify-content: space-between;
    margin-bottom: -1.5em;
}

.middle-left {
    display: flex;
    gap: .5em;
    padding-left: 1em;
    margin-top: -3.7em;
    min-width: 70%;
}

.middle-right {
    padding-right: 1em;
}

.investment-type-tag {
    background-color: #CCCCCC;
    align-self: center;
    padding: .5em 1em;
}

.second-tag {
    display: flex;
    align-items: center;
    gap: .5em;
    background-color: #CCCCCC;
    height: 1.5em;
    padding: .2em .5em;
    margin-top: 2.8em;
}

.country-flag {
    max-width: 35%;
}

.company-logo {
    max-width: 35%;
}

.company-name {
    padding-left: 1em;
}

.company-description {
    padding-left: 1em;
    padding-right: .5em;
    color: #737373;
}

.bottom-card-last {
    display: flex;
    flex-direction: column;
    margin-top: -1.5em;
}

.bottom-card-first {
    min-height: 12em;
}

.industry-tag {
    background-color: #CCCCCC;
    align-self: left;
    margin-left: 1.5em;
    padding: .5em;
    width: fit-content;
}

.investment-status {
    padding-left: 1em;
    margin-top: -1em;
    color: #737373;
}

.status-tag {
    background-color: #F0EFF3;
    margin-left: 1em;
    padding: .5em;
    color: #FF6F4F;
}

.status-tag-alt {
    background-color: #0E1C28;
    margin-left: 1em;
    padding: .5em;
    color: #FF6F4F;
}

.time-left {
    color:#FF6F4F;
}
