.content-top {
    text-align: center;
    padding-top: 2em;
}

.content-top h3 {
    margin-bottom: -1.1em;
    color: #FF6F4F;
    font-size: 1.8em;
}

.arrow-buttons {
    display: flex;
    justify-content: right;
    gap: .5em;
    margin-right: 1em;
}

.left-arrow-btn {
    width: 3%;
}

.right-arrow-btn {
    width: 3%;
}

.just-launched-hr {
    margin-left: 1em;
    margin-right: 1em;
    color: #737373;
}

.cards-area {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}