.content-top {
    text-align: center;
    padding-top: 2em;
}

.content-top h3 {
    display: inline;
    color: #FF6F4F;
    padding-left: 5em;
}

.arrow-buttons {
    float: right;
    margin-right: 1em;
}

.most-funded-hr {
    margin-left: 1em;
    margin-right: 1em;
    color: #737373;
}

.cards-area {
    display: flex;
    justify-content: left;
    gap: 3.5%;
}